<form name="createIaBasicsForm" novalidate
	ng-submit="ia.onBasicsSubmit()" class="css-form">
	<!-- <div class="form-group">
	<label>Issuing Authority ID</label><input type="text"
		name="issuingAuthorityId" ng-model="ia.formData.issuingAuthorityId"
		class="form-control" placeholder="Issuing Authority ID" required />
</div> -->
	<div class="form-group">
		<label>CSR</label>
		<textarea type="text" name="csr" ng-model="ia.formData.basics.csr"
			class="form-control" placeholder="CSR" required></textarea>
	</div>
	<div class="form-group">
		<label>Valid From</label>
		<p class="input-group">
			<input type="text" class="form-control" placeholder="dd/mm/yyyy"
				uib-datepicker-popup ng-model="ia.formData.basics.validFrom"
				is-open="ia.popup1.opened" datepicker-options="ia.dateOptions"
				ng-required="true" close-text="Close"
				alt-input-formats="ia.altInputFormats" /> <span
				class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="ia.open1()">
					<i class="glyphicon glyphicon-calendar"></i>
				</button>
			</span>
		</p>
	</div>
	<div class="form-group">
		<label for="validTo">Valid To</label>
		<p class="input-group">
			<input type="text" class="form-control" placeholder="dd/mm/yyyy"
				uib-datepicker-popup ng-model="ia.formData.basics.validTo"
				is-open="ia.popup2.opened" datepicker-options="ia.dateOptions"
				ng-required="true" close-text="Close"
				alt-input-formats="ia.altInputFormats" /> <span
				class="input-group-btn">
				<button type="button" class="btn btn-default" ng-click="ia.open2()">
					<i class="glyphicon glyphicon-calendar"></i>
				</button>
			</span>
		</p>
	</div>
	<div class="form-group row">
		<div class="col-xs-6 col-xs-offset-3">
			<div ng-if="ia.formData.basics.$valid = createIaBasicsForm.$valid"></div>
			<button type="submit" class="btn">
				Next Section <span class="glyphicon glyphicon-circle-arrow-right"></span>
			</button>
		</div>
	</div>
</form>
