<div>
	<h1>Generate RSA Key</h1>
	<div class="panel panel-default">
		<div class="panel-heading">Key Generation Details</div>
		<form class="panel-body">
			<div class="form-group">
				<label>Key Length</label><input type="text" name="keyLength"
					ng-model="keys.keyLength" class="form-control" placeholder="Key Length"
					required />
			</div>
			<button ng-click="keys.generateRsaKey()" type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
	<hr />
	<div ng-include="'app/shared/keypair/keypair.tpl.html'" ng-hide="keyPair = keys.response; keys.response == null"></div>
</div>