<div>
	<h1>List Issued Certificates</h1>
	<div class="panel panel-default">
		<div class="panel-heading">Issuing Authority ID</div>
		<form class="panel-body">
			<div class="form-group">
				<label>Issuing Authority ID</label><input type="text"
					name="issuingAuthorityId" ng-model="ia.issuingAuthorityId"
					class="form-control" placeholder="Issuing Authority ID" required />
			</div>
			<button ng-click="ia.listIssuedCerts()" type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
	<hr />
	<label>Certificates:</label>
	<div>
	<div ng-repeat="item in ia.response.data" class="col-sm-6">
		<div class="panel panel-default">
			<div class="panel-heading" ng-bind="item.subject"></div>
			<div class="panel-body">
				<label class="col-sm-4 control-label">Valid From</label><p class="col-sm-8 form-control-static" ng-bind="item.validFrom"></p>
				<label class="col-sm-4 control-label">Valid To</label><p class="col-sm-8 form-control-static" ng-bind="item.validTo"></p>
				<label class="col-sm-4 control-label">Revoked</label><p class="col-sm-8 form-control-static" ng-bind="item.isRevoked"></p>
				<button class="btn btn-default" ui-sref="viewEntity" ng-click="CaCtrl.getEntity()">view</button>
			</div>
		</div>
	</div>
	</div>
</div>