<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<h1>Initialise the Root Certificate</h1>
		<div class="panel panel-default">
			<div class="panel-heading">Certificate Details</div>
			<form novalidate class="panel-body css-form">
				<div class="form-group">
					<label>X500Name</label> <input type="text" name="x500Name"
						ng-model="ca.x500Name" class="form-control"
						placeholder="X500 Name" required />
				</div>
				<div class="form-group">
					<label>Valid From</label>
					<p class="input-group">
						<input type="text" class="form-control" placeholder="dd/mm/yyyy"
							uib-datepicker-popup ng-model="ca.validFrom"
							is-open="ca.popup1.opened" datepicker-options="ca.dateOptions"
							ng-required="true" close-text="Close"
							alt-input-formats="ca.altInputFormats" /> <span
							class="input-group-btn">
							<button type="button" class="btn btn-default"
								ng-click="ca.open1()">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</span>
					</p>
				</div>
				<div class="form-group">
					<label for="validTo">Valid To</label>
					<p class="input-group">
						<input type="text" class="form-control" placeholder="dd/mm/yyyy"
							uib-datepicker-popup ng-model="ca.validTo"
							is-open="ca.popup2.opened" datepicker-options="ca.dateOptions"
							ng-required="true" close-text="Close"
							alt-input-formats="ca.altInputFormats" /> <span
							class="input-group-btn">
							<button type="button" class="btn btn-default"
								ng-click="ca.open2()">
								<i class="glyphicon glyphicon-calendar"></i>
							</button>
						</span>
					</p>
				</div>
				<div class="form-group">
					<label>Max CA Chain Length</label><input type="text"
						name="maxIssuingAuthorityChainLength"
						ng-model="ca.maxIssuingAuthorityChainLength" class="form-control"
						placeholder="max CA chain length" required />
				</div>

				<button type="button" class="btn btn-default"
					ng-click="ca.isCollapsed = !ca.isCollapsed">Advanced</button>

				<div uib-collapse="ca.isCollapsed">

					<div ng-include="'app/shared/keypair/keypair.tpl.html'"
						ng-init="keyPair = ca.keyPair"></div>
					<div class="form-group">
						<label>SignatureAlgorithm</label><input type="text"
							name="signatureAlgorithm" ng-model="ca.signatureAlgorithm"
							placeholder="Certificate Signature Algorithm"
							class="form-control" />
					</div>
				</div>
				<button ng-click="ca.initialiseRoot()" type="submit"
					class="btn btn-default">Submit</button>
			</form>
		</div>
		<div ng-show="ca.responseEntityId">
			<hr />
			<label>Entity ID:</label> <input type="text" name="responseEntityId"
				ng-model="ca.responseEntityId" />
			<button ui-sref="listAllCerts" type="submit" class="btn btn-default">Back</button>
		</div>
	</div>
	<div class="col-md-1"></div>
</div>
